.well
  = render partial: 'users/card', locals: { user: @user, actives: [:favorite] }
%div
  = page_entries_info @tweets
%div
  = render partial: 'tweets/tweets', locals: { tweets: @tweets }
%div
  = paginate @tweets