= simple_form_for(current_user.tweets.build, remote: true) do |f|
  .form-inputs
    = f.input :body, label: false, placeholder: 'いまどうしてる？'
  .form-actions
    = f.button :submit, 'ツイート', class: 'btn-info pull-right'
