.row
  - if @user
    - actives = []
    - actives << :followers if current_page? action: :followers
    - actives << :followees if current_page? action: :followees
    .well
      = render partial: 'users/card', locals: { user: @user, actives: actives }
  %div
    = page_entries_info @users
  %div
    - @users.each do |user|
      .well
        = render partial: 'users/card', locals: { user: user }
  %div
    = paginate @users
